#bg {
    background-color: #3d3d3d;
}

body {
    margin: 0;
}

header {
    display: flex;
    width: 100%;
    height: 75vh;
    background-size: cover;
    /* background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.torontomu.ca%2Fcontent%2Fdam%2Fgraduate%2Fprograms%2Fcomputer-science%2FCode-Banner.jpg&f=1&nofb=1&ipt=06507698cfe9f44a27d79298c0d57507d82e3afd81243dff7cbc54f64dd95daf&ipo=images); */
    background-image: url(../resources/Shrine.png);
    justify-content: center;
    text-align: center;
    background-position: center;
    flex-direction: column;
    color: #1d1d1d;
    font-size: 3em;
    /* filter: blur(1px); */
}

nav {
    display: flex;
    justify-content: center;
    background-color: #007457;
    flex-direction: column;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    box-shadow: 1px 1px 1px 3px rgba(255, 255, 255, 0.39);
}

nav a {
    text-align: center;
    text-decoration: 0;
    color: white;
    font-size: 1.5em;
    width: 20%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* padding: 0 100% 0 100%; */
}

.nav-container {
    width: 100%;
}

nav a:hover {
    background-color: rgba(0, 167, 158, 0.681);
}

main {
    margin-left: 5%;
    margin-right: 5%;
    /* margin-top: 10%;
    margin-bottom: ; */
}

#article {
    display: flex;
    background-color: #006446;
    text-align: left;
    margin-top: 10%;
    margin-bottom: 10%;
    box-shadow: 1px 1px 5px 3px rgba(61, 61, 61, 0.8);
}

#article2 div {
    display: flex;
    background-color: #1d1d1d;
    text-align: left;
    margin-top: 10%;
    margin-bottom: 10%;
    box-shadow: 1px 1px 5px 3px rgba(61, 61, 61, 0.8);
}


.text {
    padding: 0 2.5% 0 2.5%;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    font-size: 1.2em;
    color: white;
    margin-bottom: 3%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.center {
    text-align: center;
}

.list {
    font-size: 1em;
    color: white;
    margin-bottom: 1%;
}

#title {
    color: #ffffff;
    font-size: 2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 1px 1px 3px 3px rgba(255, 255, 255, 0.219);
    background-color: #ffffff17;
}

/* section div img {
    display: flex;
    width: 100%;
    margin: 5%;
    object-fit: cover;
} */

.section-image1 {
    background-image: url(../resources/Hellevoetsluis_-_molen_De_Hoop_bij_nacht.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.section-image2 {
    background-image: url(../resources/8c58679f-ffdf-436d-9e7d-61cbcb2c53b8.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

progress {
    border: 6px solid;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    box-shadow: rgb(255, 255, 255);
    width: 60%;
    height: 40px;
    display: block;
    margin: 0 auto;
    margin-bottom: 1.5%;
}

progress::-webkit-progress-bar {
    background-color: rgb(255, 255, 255);
    display: block;
    margin: 0 auto;
}

progress::-webkit-progress-value {
    background-color: #027a56;
    border-radius: 7px;
    box-shadow: 1px 1px 5px 3px rgba(61, 61, 61, 0.8);
}

.bartext {
    font-size: 1.2em;
    color: white;
    margin-bottom: 1%;
    text-align: center;
}

.bar {
    margin-bottom: 5%;
}

.formrule {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

@media only screen and (max-width: 600px) {
    nav {
        flex-direction: column;
        /* justify-content: center; */
    }

    nav a {
        width: 100%;
    }

    .nav-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #article {
        display: block;
    }

    .section-image1 {
        width: 100%;
        height: 200px;
    }

    .section-image2 {
        width: 100%;
        height: 200px;
    }
}

@media only screen and (min-width: 601px) {
    .nav-container {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }

    #article div {
        width: 50%;
    }
}