.bg {
    background-color: skyblue;
}

.title {
    text-align: center;
    font-family: sans-serif;
}

.div {
    text-align: center;
    background-color: rgb(230, 230, 255);
    border-radius: 0px;
    font-family: Sans Serif;
    padding: 3%;
    margin: 5%;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 10%;
}

h2 {
    text-align: center;
    font-family: sans-serif;
    padding-top: 0%;
}

p {
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 3%;
}